target/

.settings/
.idea/

*.iml

.classpath
.project
.git-credentials
.*-credentials

node_modules/
docs/test/
docs/*.yml
docs/bower.json
docs/CONTRIBUTING.md
docs/demo.html
docs/Gruntfile.js
docs/LICENSE
docs/package.json
docs/README.md
